@font-face {
   font-family: 'Mont-HeavyDEMO';
   src: url(fonts/Mont-HeavyDEMO.otf) format('truetype');
}
@font-face {
   font-family: 'Mont-ExtraLightDEMO';
   src: url(fonts/Mont-ExtraLightDEMO.otf) format('truetype');
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
        font-family: Mont-ExtraLightDEMO, Verdana, sans-serif;
}


h1, h2{
        font-family: Mont-HeavyDEMO, Verdana, sans-serif;
}

.header {
	width: 30%;
	margin: 10px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
a{
    margin: 0;
    padding: 0;
}

.navcont{
    height: 50px;
}

#navbar{
    position: relative;
    width: auto;
    height: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
/*
    background-color: lightgrey;
    opacity: 30%;
*/
}
li{display: inline-block;
    height: inherit;
}
#nav1{
    float: left;
    height: 75px;
    width: 150px;
}
ul #nav2{
    float: none;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 2vw;
    padding-top: 10px;
}
#nav3{
    float: right;
    width: 75px;
}
#userph{
    padding-top: 5px;
}
.contar{ 
    position: relative;
    width: 100%;
    height:450px;
    border: 0.5 px solid black;
    background-image: url(images/sfondo.jpg);
    -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
    text-align: center;
    color: rgba(200,200,200,0.7);
}

.topBackground{
    z-index: -100;
}

#titlehome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    font-size: 4.0vw;
}


.grid-container{
  display: grid;
  grid-template-columns: .75fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;  
  background-color: transparent;
  padding: 5%;
}

.grid-item {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8%;
  font-size: 1.35vw;
  text-align: center;
}
.sideCont{
    grid-row: 1 / 4;
    grid-column: 1 / 2;  
    text-align: center;
    background-color: lightblue;
    /*sarebbe figo che qui ci stesse una fotografia che scorrendoci sopra la puoi scorrere per lunghezza per vedere le parti tagliate dal formato strano*/
}

.fotoTopGrid{
    grid-row:  1/ 2;
    grid-column: 2 / 4;
    background: fixed;
    background-image: url(images/backprova.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contentDx{
    grid-column: 3 / 4;
    grid-row: 2 / 4
}
.contentSx{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}



/*
grid firefox
.container {
  display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
}
*/

/*

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.content-1 {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.content-2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.content-3 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.footer {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}*/
